<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9048211513-9t4ljsgr9d416orhtgk0nq303krt7ocm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9048211513-9t4ljsgr9d416orhtgk0nq303krt7ocm</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzCJV4OXzCeJrIUDd4S6M5rID-dUgeUo</string>
	<key>GCM_SENDER_ID</key>
	<string>9048211513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GeDingInPerson.Jan19</string>
	<key>PROJECT_ID</key>
	<string>jan18firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>jan18firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9048211513:ios:87732fbd1ddaf10308cde8</string>
</dict>
</plist>